<a href="https://colab.research.google.com/github/kvamsi7/ML-For-Deployment/blob/master/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("ML for Deployment")

ML for Deployment

Task 1: 
 
 
1.  
 
Install Jupyter notebook and run the first program and share the screenshot of the output.

In [12]:
print("https://drive.google.com/file/d/19QLVSn0hDrFdLiGW9kLAUhDb3pV5pjc9/view?usp=sharing")

https://drive.google.com/file/d/19QLVSn0hDrFdLiGW9kLAUhDb3pV5pjc9/view?usp=sharing

2.
Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

CODE: Method 1

In [3]:
for i in range(2000,3201):
  if i % 7==0 and i % 5 !=0:
    print(i,end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

Method 2:

In [4]:
numbers= []

for i in range(2000,3201):
  if i % 7==0 and i % 5 !=0:
    numbers.append(i)
else:
  print(numbers)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

3.
Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [5]:
firstName = input()
lastName = input()

print(firstName[::-1],"",lastName[::-1])

ML
For Deployment
 LM  tnemyolpeD roF

4.
Write a Python program to find the volume of a sphere with diameter 12 cm.
code:

In [7]:
import math

diameter = 12
radius = diameter/2

volume = 4/3*math.pi*radius**3

print(volume)

904.7786842338603

Task 2:

1.
Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

code:

In [8]:
numbers = str(input("Enter some comma separated values: "))

li1 = numbers.split(",")

#print(li1)

li2 =[]
for i in li1:
  li2.append(int(i))
  
print(li2)

Enter some comma separated values: 10,20,30,40
[10, 20, 30, 40]

2.
Create the below pattern using nested for loop in Python.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

code:

In [9]:
for i in range(1,6):
  for j in range(1,i+1):
    print(" *",end="")
  else:
    print()

for i in range(4,0,-1):
  for j in range(i,0,-1):
    print(" *",end="")
  else:
    print()

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * *
 * * *
 * *
 *

3.
  Write a Python program to reverse a word after accepting the input from the user.
Sample Output:
Input word: AcadGild
Output: dilGdacA

code:

In [10]:
str1 = input("Enter some word: ")
str1 = str1[::-1]
print("reverse of word is :",str1)

Enter some word: vamsi krishna
reverse of word is : anhsirk ismav

4.
Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

Sample Output:
WE, THE PEOPLE OF INDIA,
  having solemnly resolved to constitute India into a SOVEREIGN, !
    SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
     and to secure to all its citizens
code:

In [11]:
print("WE, THE PEOPLE OF INDIA,\n\t having solemnly resolved to constitute India into a SOVEREIGN,! \n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens